
/* - Larger Screen Sizes - */
@media only screen and (min-width: 1024px)
{
    .containerClass
    {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    .classMenu
    {
        float: left;

        width: 250px;
    }
    .classStream
    {
        float: right;

        width: calc(100% - 250px);
    }
    .paperMenu
    {
        display: inline-block;
        float: left;

        margin: 0 32px 16px 0;
    }
}

/* - Medium Screen Sizes - */
@media only screen and (max-width: 1024px)
{
    .containerClass
    {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }
    .classMenu
    {
        float: left;

        width: 30%;
    }
    .classStream
    {
        float: right;

        width: 68%;
    }
    .paperMenu
    {
        display: block;

        margin: 0 auto 16px;
        padding-top: 1px;
    }
}

/* - Small Screen Size - */
@media only screen and (max-width: 740px)
{
    .containerClass
    {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }
    .classMenu
    {
        float: left;

        width: 100%;
    }
    .classStream
    {
        float: left;

        width: 100%;
    }
    .paperMenu
    {
        display: block;

        margin: 0 auto 20px;
        padding-top: 1px;
    }
}

/* - Universal Width Styles - */
.classInfoCont
{
    line-height: normal !important;

    margin-top: 50px;
    margin-bottom: 20px;
}
.classBody
{
    width: 100%;
    margin-top: 40px;
}
.classHeader
{
    padding: 0 20px;
}
.streamCardCont
{
    padding: 8px 15px 0 !important;
}
.cardInit
{
    font-size: 1em;

    display: flex;

    width: 100%;
    height: 4rem;

    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}
.cardInitItem
{
    display: flex;

    text-align: center;

    align-items: center;
    justify-content: center;
}
