
/* - Larger Screen Sizes - */
@media only screen and (min-width: 1024px)
{
    .containerClass
    {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    .classMenu
    {
        float: left;

        width: 250px;
    }
    .classStream
    {
        float: right;

        width: calc(100% - 250px);
    }
    .paperMenu
    {
        display: inline-block;
        float: left;

        margin: 0 32px 16px 0;
    }

    .cardInit
    {
        flex-flow: row nowrap;
    }
    .cardInitItem
    {
        flex-basis: 25%;
    }
}

/* - Medium Screen Sizes - */
@media only screen and (max-width: 1024px)
{
    .containerClass
    {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }
    .classMenu
    {
        float: left;

        width: 30%;
    }
    .classStream
    {
        float: right;

        width: 68%;
    }
    .paperMenu
    {
        display: block;

        margin: 0 auto 16px;
        padding-top: 1px;
    }

    .cardInit
    {
        flex-flow: row wrap;
    }
}

/* - Small Screen Size - */
@media only screen and (max-width: 740px)
{
    .containerClass
    {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }
    .classMenu
    {
        float: left;

        width: 100%;
    }
    .classStream
    {
        float: left;

        width: 100%;
    }
    .paperMenu
    {
        display: block;

        margin: 0 auto 20px;
        padding-top: 1px;
    }
    .cardInit
    {
        flex-flow: column wrap;
    }
    .cardInitItem
    {
        flex-basis: 100%;
    }
}

/* - Universal Width Styles - */
.classInfoCont
{
    line-height: normal !important;

    margin-top: 50px;
    margin-bottom: 20px;
}
.classBody
{
    width: 100%;
    margin-top: 40px;
}
.classHeader
{
    padding: 0 20px;
}
.streamCardCont
{
    padding: 8px 15px 0 !important;
}
.cardInit
{
    font-size: 1em;

    display: flex;

    width: 100%;

    justify-content: flex-start;
    align-items: stretch;
}
.cardInitItem
{
    display: flex;
    overflow: hidden;

    text-align: center;

    align-items: center;
    justify-content: flex-start;
}
.cardInitItem > *
{
    font-weight: normal !important;
}
.cardInitItem svg
{
    margin: 8px;
}
.tableItemCont
{
    display: flex;
    overflow: hidden;

    text-align: center;

    align-items: center;
    justify-content: flex-start;
}
.itemDone,
.itemDone svg
{
    color: #4caf50 !important;

    fill: #4caf50 !important;
}
.itemLate,
.itemLate svg
{
    color: #ef5350 !important;

    fill: #ef5350 !important;
}
.expanderIcon
{
    display: flex;

    text-align: right;

    align-items: center;
    justify-content: flex-end;
    flex-basis: 5%;
}
.assignmentCard
{
    margin-bottom: 20px;
}
.streamCardTitleCont
{
    display: flex;

    align-items: center;
}
.streamCardTitleCont svg
{
    padding-right: 10px;
}
